---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$color_scheme: '{{ site.color_scheme }}'
;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import "custom";

.info-box {
    border-left: 6px solid #0077cc;
    background: #f2f7ff;
    padding: 12px 18px;
    border-radius: 4px;
    margin: 20px 0;
}

.image-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
